@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Leckerli+One&family=Source+Sans+3:ital,wght@0,400;0,500;0,700;1,400&family=Source+Sans+Pro:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    font-family: 'Source Sans 3', sans-serif;
    --main-text-color: #ffffff;
    --description-text-color: #b9b1c5;
    --accent-text-color: #ffc452;
    --background-color: #4a3c5e;
    --accent-background-color: #b87390;
    --button-color: #32264b;
    --container-accent-color: #bc5278;
    --button-accent-color: #a55376;
    --menu-backgroung-color: #6382a7;
    --menu-accent-background-color: #537398;
    --about-us-background-color: #b7728f;
    --contacts-background-color: #f8b83d;
}

img {
    display: block;
    width: 100%;
}

