@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Leckerli+One&family=Source+Sans+3:ital,wght@0,400;0,500;0,700;1,400&family=Source+Sans+Pro:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    font-family: 'Source Sans 3', sans-serif;
    --main-text-color: #ffffff;
    --description-text-color: #b9b1c5;
    --accent-text-color: #ffc452;
    --background-color: #4a3c5e;
    --accent-background-color: #b87390;
    background: var(--background-color);
    color: var(--main-text-color);
}

/* img {
    display: block;
    width: 100%;
} */

