@import url(/css/common.css);
@import url(./header.css);
@import url(./menu.css);
@import url(./ice-cream-taste.css);
@import url(./ingredients.css);
@import url(./menu-carousel.css);
@import url(./proposition.css);
@import url(./new-taste.css);
@import url(./about-us.css);
@import url(./gallery.css);
@import url(./blog.css);
@import url(./footer.css);

:root {
    background: var(--background-color);
    color: var(--main-text-color);
}